# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - strappfaaz

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: strappfaaz.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_7087A506984042418675A34BCCEA25AD }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_0F9031E3B2374F33B52D3F8512CDA209 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: strappfaaz.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_7087A506984042418675A34BCCEA25AD }}/strappdocker:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    
    needs: build
    
    steps:
      
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'strappfaaz'
          slot-name: 'Production'
          images: 'strappfaaz.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_7087A506984042418675A34BCCEA25AD }}/strappdocker:${{ github.sha }}'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_CD995B9A8460427DBDEE47C630918CEE }}